{% extends 'lesson1_app/base.html' %}

{% block title %}{{ author.name }}'s Posts{% endblock %}

{% block content %}
<h2>Cтатьи автора: {{ author.name }}</h2>
<table>
    {% for post in posts %}
    
    <tr>
        {% if post.is_published %}
        <td><a href="{% url 'post_full' post.id %}">{{ post.title }}</a>
        {% else %}
        <td>{{ post.title }}</td>
        {% endif %}
        <td>{{ post.content }}</td>
        <td>{{ post.views }}</td>

    </tr>
        

    {% endfor %}
</table>
{% endblock %}